.from {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.from .from-item {
    margin-bottom: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.from .from-item .label {
    padding-left: 4px;
    min-width: 100px;
}

.from .from-item.center {
    justify-content: center;
}

.from .from-item.end {
    justify-content: flex-end;
}

.from .from-item .label:after {
    content: ":";
}

.from .from-item .value {
    padding: 6px;
    flex: 1;
}

.from .from-item .value.input {
    height: 24px;
}

.from .from-item .value.textarea {
    height: 80px;
}
