.layout {
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.layout .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.layout .content {
    flex: 1;
    padding: 20px 0;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.layout .footer {
    display: flex;
    padding: 24px 0;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
